@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #faf8ff;
    color: #191b23;
  }

  html.dark body {
    background-color: #191b23;
    color: #faf8ff;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d9d9e5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c3c6d7;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #2e3039;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #434655;
}

textarea::placeholder {
  color: rgba(67, 70, 85, 0.5);
}

html.dark textarea::placeholder {
  color: rgba(195, 198, 215, 0.5);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 8px);
}
